@media only screen and (min-device-width:375px) and (max-device-width:812px) and (-webkit-min-device-pixel-ratio:3){
    .pointer_l , .pointer_r{width:20px;
    height:20px;}
}
@media only screen and (min-width:768px) and (max-width :1024px){
    .pointer_l , .pointer_r{width:35px;
        height:24px;}
    .carousel .carousel-item{
        height:750px;
    }

}
